  <!--   Core JS Files   -->
  <script src="{{ ASSETS_BASE }}/js/core/popper.min.js"></script>
  <script src="{{ ASSETS_BASE }}/js/core/bootstrap.min.js"></script>
  <script src="{{ ASSETS_BASE }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ ASSETS_BASE }}/js/plugins/smooth-scrollbar.min.js"></script>

  <!-- Page Specific JS Files   -->  
  <script src="{{ ASSETS_BASE }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_BASE }}/js/plugins/fullcalendar.min.js"></script>
  <script src="{{ ASSETS_BASE }}/js/plugins/chartjs.min.js"></script>
